/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#createUser {
	border: 1px #333333 solid;
	box-shadow: 1px 1px 4px #333333;
	top: 30%;
	margin-left: 25%;
	margin-right: 75%;
	position: absolute;
	z-index: 501;
	width: 440px;
	height: 280px;
	background-color: #ffffff;
	display: none;
}

#fade {
	display: none;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%; /*these make the opacity provider fill the screen*/
	opacity: 0.4;
	filter: alpha(opacity = 50);
	position: absolute;
	background: black;
	z-index: 500;
}

#fadeOn {
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%; /*these make the opacity provider fill the screen*/
	opacity: 0.4;
	filter: alpha(opacity = 50);
	position: absolute;
	background: black;
	z-index: 500;
}

#level {
	top: 30%;
	width: 390px;
	height: 30px;
}

#showLevelValue {
	float: right;
	width: 20px;
}
#hiddenNumb {
	margin-top: auto;
	margin-left: 25%;
	margin-right: 75%;
	width: 10px;
	height: 10px;
}
#genBtn {
		border-style: solid;
    border-color: #ff0000 #0000ff;
	width: 280px;
	height: 80px;
	float:left; /* add this */
}

.image {
		border-style: solid;
    border-color: #ff0000 #0000ff;
	width: 60px;
	height: 60px;
	 float:left; /* add this */
	
   
}​
